Repository Arxcis/adventofcode2020, pull requests merged in 2020-12, with the labels that each got.

#13 Add ruby support with example and day01
  .github/workflows/day-00-example.yaml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  days/day-00-example/solutions/example.rb
  days/day-00-example/test.sh
  days/day-01/solutions/day01.rb
  days/day-01/test.sh
  languages/ruby.sh
Labels: new language

#15 Solve day02 in c
  .github/workflows/day-00-example.yaml
  .github/workflows/day-01.yaml
  .github/workflows/day-02.yaml
  .github/workflows/day-03.yaml
  .github/workflows/day-04.yaml
  .github/workflows/day-05.yaml
  .github/workflows/day-06.yaml
  .github/workflows/day-07.yaml
  .github/workflows/day-08.yaml
  .github/workflows/day-09.yaml
  .github/workflows/day-10.yaml
  .github/workflows/day-11.yaml
  .github/workflows/day-12.yaml
  .github/workflows/day-13.yaml
  .github/workflows/day-14.yaml
  .github/workflows/day-15.yaml
  .github/workflows/day-16.yaml
  .github/workflows/day-17.yaml
  .github/workflows/day-18.yaml
  .github/workflows/day-19.yaml
  .github/workflows/day-20.yaml
  .github/workflows/day-21.yaml
  .github/workflows/day-22.yaml
  .github/workflows/day-23.yaml
  .github/workflows/day-24.yaml
  .github/workflows/day-25.yaml
  days/day-01/README.md
  days/day-01/solutions/.keep
  days/day-02/README.md
  days/day-02/input.txt
  days/day-02/output.txt
  days/day-02/solutions/.keep
  days/day-02/solutions/day02.c
  days/day-02/test.sh
  scripts/make-workflows.sh
Labels: new solution

#17 Day 2 in Standard ML
  days/day-02/solutions/day02.sml
  days/day-02/test.sh
Labels: new solution

#18 Solved Day 02 in C++
  days/day-02/solutions/day02.cpp
  days/day-02/test.sh
Labels: new solution

#20 Day 03 setup and python solution
  days/day-03/input.txt
  days/day-03/output.txt
  days/day-03/solutions/day03.py
  days/day-03/test.sh
Labels: new solution

#19 Day02 python solution & Day01 python one-liner (I'm sorry...)
  days/day-01/solutions/one-liner.py
  days/day-01/test.sh
  days/day-02/solutions/day02.py
  days/day-02/test.sh
Labels: new solution

#21 added day3 python
  days/day-03/solutions/python_klyve.py
  days/day-03/test.sh
Labels: new solution

#22 Day 03 in Standard ML
  days/day-03/solutions/day03.sml
  days/day-03/test.sh
Labels: new solution

#24 Solve day03 in c
  CONTRIBUTING.md
  README.md
  days/day-03/README.md
  days/day-03/solutions/.keep
  days/day-03/solutions/day03.c
  days/day-03/test.sh
Labels: new solution

#27 Add pipefail to all shell scripts
  days/day-00-example/test.sh
  days/day-01/test.sh
  days/day-02/test.sh
  days/day-03/test.sh
  days/day-04/test.sh
  days/day-05/test.sh
  days/day-06/test.sh
  days/day-07/test.sh
  days/day-08/test.sh
  days/day-09/test.sh
  days/day-10/test.sh
  days/day-11/test.sh
  days/day-12/test.sh
  days/day-13/test.sh
  days/day-14/test.sh
  days/day-15/test.sh
  days/day-16/test.sh
  days/day-17/test.sh
  days/day-18/test.sh
  days/day-19/test.sh
  days/day-20/test.sh
  days/day-21/test.sh
  days/day-22/test.sh
  days/day-23/test.sh
  days/day-24/test.sh
  days/day-25/test.sh
  languages/bash.sh
  languages/c.sh
  languages/cpp.sh
  languages/go.sh
  languages/java.sh
  languages/node.sh
  languages/php.sh
  languages/python.sh
  languages/ruby.sh
  languages/rust.sh
  scripts/make-folders.sh
  scripts/print-test.sh
  scripts/print-versions.sh
Labels: bugfix

#11 Support for the zig language
  Dockerfile
  Makefile
  README.md
  days/day-01/solutions/day01.zig
  days/day-01/test.sh
  languages/zig.sh
  scripts/print-versions.sh
Labels: new language

#25 Use -no-🥧 to avoid PIE warnings for Standard ML
  Dockerfile
  languages/sml.sh
Labels: bugfix

#29 day 4 ruby and python
  days/day-04/input.txt
  days/day-04/output.txt
  days/day-04/solutions/python_klyve.py
  days/day-04/solutions/ruby_klyve.rb
  days/day-04/test.sh
Labels: new solution

#28 Solve day04 in c - part1 and part2
  days/day-04/input.jonas.txt
  days/day-04/output.jonas.txt
  days/day-04/solutions/day04.c
  days/day-04/test.sh
Labels: new solution

#34 Upgrade nodejs v12 -> v15 by installing from nodesource
  .github/workflows/day-00-example.yaml
  .github/workflows/day-01.yaml
  .github/workflows/day-02.yaml
  .github/workflows/day-03.yaml
  .github/workflows/day-04.yaml
  .github/workflows/day-05.yaml
  .github/workflows/day-06.yaml
  .github/workflows/day-07.yaml
  .github/workflows/day-08.yaml
  .github/workflows/day-09.yaml
  .github/workflows/day-10.yaml
  .github/workflows/day-11.yaml
  .github/workflows/day-12.yaml
  .github/workflows/day-13.yaml
  .github/workflows/day-14.yaml
  .github/workflows/day-15.yaml
  .github/workflows/day-16.yaml
  .github/workflows/day-17.yaml
  .github/workflows/day-18.yaml
  .github/workflows/day-19.yaml
  .github/workflows/day-20.yaml
  .github/workflows/day-21.yaml
  .github/workflows/day-22.yaml
  .github/workflows/day-23.yaml
  .github/workflows/day-24.yaml
  .github/workflows/day-25.yaml
  Dockerfile
  Makefile
  days/day-00-example/solutions/example.mjs
  days/day-00-example/test.sh
  languages/node.sh
Labels: new version

#33 Solve day05 in c
  README.md
  days/day-05/README.md
  days/day-05/solutions/.keep
  days/day-05/solutions/day05.c
  days/day-05/solutions/day05.preng.py
  days/day-05/test.sh
Labels: new solution

#35 Another day 1 in Go
  days/day-01/solutions/day01_tholok97.go
  days/day-01/test.sh
Labels: new solution

#36 Another day2 in Go
  days/day-02/solutions/day02_tholok97.go
  days/day-02/test.sh
Labels: new solution

#37 Another day 3 in Go
  days/day-03/solutions/day03_tholok97.go
  days/day-03/test.sh
Labels: new solution

#38 Day 04 in Standard ML
  days/day-04/solutions/day04.sml
  days/day-04/test.sh
Labels: new solution

#39 Day 4 in Go
  days/day-04/solutions/day04.tholok97.go
  days/day-04/test.sh
Labels: new solution

#40 Standard ML day 05
  days/day-05/solutions/day05.sml
  days/day-05/test.sh
Labels: new solution

#41 added a naive python solution to day 5
  days/day-05/solutions/day05.klyve.py
  days/day-05/test.sh
Labels: new solution

#43 Day 5 in Go
  days/day-05/solutions/tholok97.go
  days/day-05/test.sh
Labels: new solution

#44 solve day01 in node
  days/day-01/solutions/day01.mjs
  days/day-01/test.sh
Labels: new solution

#45 Another python solution for day05. Oh, and another one-liner from hell!
  days/day-05/solutions/day05.stektpotet.py
  days/day-05/solutions/one-liner.stektpotet.py
  days/day-05/test.sh
Labels: new solution

#46 solve day04 in node
  README.md
  days/day-04/solutions/day04.mjs
  days/day-04/test.sh
Labels: new solution

#50 Golang solution for day05
  days/day-05/solutions/day05.stektpotet.go
  days/day-05/test.sh
Labels: new solution

#52 Solve day06 in node
  days/day-04/solutions/day04.mjs
  days/day-06/README.md
  days/day-06/solutions/.keep
  days/day-06/solutions/day06.mjs
  days/day-06/test.sh
Labels: new solution

#54 solve day06 in c
  days/day-06/solutions/day06.c
  days/day-06/test.sh
Labels: new solution

#55 Solution for day06 created!
  days/day-06/README.md
  days/day-06/solutions/day06.stektpotet.py
  days/day-06/test.sh
Labels: new solution

#56 day 6 in Go
  days/day-06/solutions/tholok97.go
  days/day-06/test.sh
Labels: new solution

#57 solved day06 in python one-liner
  days/day-06/solutions/one-liner.stektpotet.py
Labels: new solution

#58 Day 6 in Standard ML
  days/day-06/solutions/day06.sml
  days/day-06/test.sh
  languages/sml.sh
  util.sml
Labels: new solution

#59 Day 2 zig
  days/day-01/test.sh
  days/day-02/solutions/day02.zig
  days/day-02/test.sh
  languages/zig.sh
Labels: new solution

#60 Solved day06 in go
  days/day-06/solutions/day06.stektpotet.go
  days/day-06/test.sh
Labels: new solution

#65 Solved Day07 in python
  days/day-06/test.sh
  days/day-07/solutions/day07.stektpotet.py
  days/day-07/test.sh
Labels: new solution

#66 Solved day07 in node
  days/day-07/solutions/.keep
  days/day-07/solutions/day07.mjs
  days/day-07/test.sh
Labels: new solution

#67 Day 7 in Standard ML
  days/day-07/solutions/day07.sml
  days/day-07/test.sh
  util.sml
Labels: new solution

#70 day08 input/output
  days/day-08/README.md
  days/day-08/input.txt
  days/day-08/output.txt
  days/day-08/test.sh
Labels: new day

#69 Zig day 3
  README.md
  days/day-02/solutions/day02.zig
  days/day-03/solutions/day03.zig
  days/day-03/test.sh
Labels: new solution

#71 Solve day 08 in deno.ts
  days/day-08/solutions/.keep
  days/day-08/solutions/day08.ts
  days/day-08/test.sh
Labels: new solution

#73 Day 8 in go
  days/day-08/solutions/tholok97.go
  days/day-08/test.sh
Labels: new solution

#76 Day09 / input, output and README
  days/day-09/README.md
  days/day-09/input.txt
  days/day-09/output.txt
Labels: new day

#85 Day10: Updated README.md
  days/day-10/README.md
Labels: documentation, new day

#80 preng day 10 python
  days/day-10/io/preng.input
  days/day-10/io/preng.output
  days/day-10/solutions/day10.preng.py
  days/day-10/test.sh
Labels: new solution

#82 Solve day06 in zig
  README.md
  days/day-06/solutions/day06.zig
  days/day-06/test.sh
Labels: new solution

#83 Day 10 in Standard ML
  days/day-10/io/jn.in
  days/day-10/io/jn.out
  days/day-10/solutions/day10.sml
  days/day-10/test.sh
  lib/util.sml
Labels: new solution

#84 Days 08-10 solved in python
  days/day-08/solutions/day08.stektpotet.py
  days/day-08/test.sh
  days/day-09/solutions/day09.stektpotet.py
  days/day-09/test.sh
  days/day-10/io/.keep
  days/day-10/io/stektpotet.input
  days/day-10/io/stektpotet.output
  days/day-10/solutions/.keep
  days/day-10/solutions/stektpotet.py
  days/day-10/test.sh
Labels: new solution

#87 python for days 11 and 12 by preng
  days/day-11/io/preng.input
  days/day-11/io/preng.output
  days/day-11/solutions/day11.preng.py
  days/day-11/test.sh
  days/day-12/io/preng.input
  days/day-12/io/preng.output
  days/day-12/solutions/day12.preng.py
  days/day-12/test.sh
Labels: new solution

#88 Solved Day11 with deno.ts
  days/day-11/io/arxcis.input
  days/day-11/io/arxcis.output
  days/day-11/solutions/day11.ts
  days/day-11/test.sh
  lang/deno.sh
  lib/raycast.test.ts
  lib/raycast.ts
Labels: new solution

#91 solve day12 with deno.ts
  days/day-12/io/arxcis.input
  days/day-12/io/arxcis.output
  days/day-12/solutions/day12.ts
  days/day-12/test.sh
Labels: new solution

#94 Solve day 10 in deno.ts
  days/day-10/io/arxcis.input
  days/day-10/io/arxcis.output
  days/day-10/solutions/day10.ts
  days/day-10/test.sh
Labels: new solution

#92 Day 13 python by preng
  days/day-13/io/preng.input
  days/day-13/io/preng.output
  days/day-13/solutions/day13.preng.py
  days/day-13/test.sh
Labels: new solution

#96 python solutions for days 14, 15, 16 and 17 by preng
  days/day-14/io/preng.input
  days/day-14/io/preng.output
  days/day-14/solutions/day14.preng.py
  days/day-14/test.sh
  days/day-15/io/preng.input
  days/day-15/io/preng.output
  days/day-15/solutions/day15.preng.py
  days/day-15/test.sh
  days/day-16/io/preng.input
  days/day-16/io/preng.output
  days/day-16/solutions/day16.preng.py
  days/day-16/test.sh
  days/day-17/io/preng.input
  days/day-17/io/preng.output
  days/day-17/solutions/day17.preng.py
  days/day-17/test.sh
Labels: new solution

#97 Solved day 14 in deno.ts
  days/day-14/io/.keep
  days/day-14/io/arxcis.input
  days/day-14/io/arxcis.output
  days/day-14/solutions/.keep
  days/day-14/solutions/day14.ts
  days/day-14/test.sh
Labels: new solution

#101 Day 20 solution in python by preng
  days/day-20/io/preng.input
  days/day-20/io/preng.output
  days/day-20/io/test.input
  days/day-20/io/test.output
  days/day-20/solutions/day20.preng.py
  days/day-20/test.sh
Labels: new solution

#105 Day07 zig - SOLUTION # 100!
  README.md
  days/day-06/solutions/day06.zig
  days/day-07/solutions/day07.zig
  days/day-07/test.sh
Labels: new solution

#106 Solve day16 in deno.ts
  README.md
  days/day-16/io/arxcis.input
  days/day-16/io/arxcis.output
  days/day-16/solutions/day16.ts
  days/day-16/test.sh
Labels: new solution

#107 5x faster on day15 for deno.ts
  days/day-15/lib/whatIsTheNthSpokenNumber.test.ts
  days/day-15/lib/whatIsTheNthSpokenNumber.ts
  days/day-15/solutions/day15.ts
  lib/whatIsTheNthSpokenNumber.ts
Labels: performance
