Repository Arxcis/adventofcode2020, pull requests merged in 2021-12, with the labels that each got.

#121 1 workflow with 25 jobs, instead of 25 workflows with 1 job
  .github/workflows/2020-day-01.yaml
  .github/workflows/2020-day-02.yaml
  .github/workflows/2020-day-03.yaml
  .github/workflows/2020-day-04.yaml
  .github/workflows/2020-day-05.yaml
  .github/workflows/2020-day-06.yaml
  .github/workflows/2020-day-07.yaml
  .github/workflows/2020-day-08.yaml
  .github/workflows/2020-day-09.yaml
  .github/workflows/2020-day-10.yaml
  .github/workflows/2020-day-11.yaml
  .github/workflows/2020-day-12.yaml
  .github/workflows/2020-day-13.yaml
  .github/workflows/2020-day-14.yaml
  .github/workflows/2020-day-15.yaml
  .github/workflows/2020-day-16.yaml
  .github/workflows/2020-day-17.yaml
  .github/workflows/2020-day-18.yaml
  .github/workflows/2020-day-19.yaml
  .github/workflows/2020-day-20.yaml
  .github/workflows/2020-day-21.yaml
  .github/workflows/2020-day-22.yaml
  .github/workflows/2020-day-23.yaml
  .github/workflows/2020-day-24.yaml
  .github/workflows/2020-day-25.yaml
  .github/workflows/2020.yaml
  .github/workflows/2021.yaml
  README.md
  scripts/make-workflows.sh
Labels: refactor

#123 2021 / Day 01 in python
  2021/day-01/README.md
  2021/day-01/io/arxcis.input
  2021/day-01/io/arxcis.output
  2021/day-01/solutions/day01.arxcis.py
  2021/day-01/test.sh
Labels: new day

#127 2021 / --- Day01 in Kotlin by Arxcis ---
  2021/day01/solutions/arxcis.kt
  2021/day01/solutions/arxcis.py
  2021/day01/test.sh
  README.md
Labels: new solution

#131 Solve Day01 in python
  2021/day01/io/stektpotet.input
  2021/day01/io/stektpotet.output
  2021/day01/solutions/stektpotet.py
  2021/day01/solutions/stektpotet_one-liner.py
  2021/day01/test.sh
Labels: new solution

#138 Kill Java and Kotlin
  .env
  .github/workflows/2020.yaml
  .github/workflows/2021.yaml
  2021/day01/solutions/arxcis.kt
  2021/day01/test.sh
  Dockerfile
  examples/solutions/Example.java
  examples/solutions/example.kt
  examples/test.sh
  lang/kotlin.sh
  lib/minimal.kt
  scripts/print-versions.sh
Labels: TLC

#136 Solve Day07 in python
  2021/day07/README.md
  2021/day07/io/.keep
  2021/day07/io/example.input
  2021/day07/io/example.output
  2021/day07/io/stektpotet.input
  2021/day07/io/stektpotet.output
  2021/day07/solutions/stektpotet.py
  2021/day07/test.sh
Labels: new solution, new day

#141 2021 day01 and 02 in rust by arxcis
  2021/day01/solutions/arxcis.rs
  2021/day02/README.md
  2021/day02/io/.keep
  2021/day02/io/arxcis.input
  2021/day02/io/arxcis.output
  2021/day02/io/example.input
  2021/day02/io/example.output
  2021/day02/solutions/.keep
  2021/day02/solutions/arxcis.rs
  2021/day02/test.sh
Labels: new day

#140 Zigday01
  .gitignore
  2021/day01/solutions/avokado.zig
  2021/day01/test.sh
Labels: new solution

#142 2021 Day03 in Rust by Arxcis
  2021/day03/README.md
  2021/day03/io/.keep
  2021/day03/io/arxcis.input
  2021/day03/io/arxcis.output
  2021/day03/io/example.input
  2021/day03/io/example.output
  2021/day03/solutions/.keep
  2021/day03/solutions/arxcis.rs
  2021/day03/test.sh
  README.md
Labels: new solution, new day

#144 2021 / Day04 in Rust by Arxcis
  .editorconfig
  2021/day04/README.md
  2021/day04/io/.keep
  2021/day04/io/arxcis.input
  2021/day04/io/arxcis.output
  2021/day04/solutions/arxcis.rs
  2021/day04/test.sh
Labels: new solution

#145 2021 / Day05 in Rust by Arxcis
  2021/day01/README.md
  2021/day01/test.sh
  2021/day02/README.md
  2021/day02/test.sh
  2021/day03/README.md
  2021/day03/test.sh
  2021/day04/README.md
  2021/day04/test.sh
  2021/day05/README.md
  2021/day05/io/.keep
  2021/day05/io/arxcis.input
  2021/day05/io/arxcis.output
  2021/day05/io/example.input
  2021/day05/io/example.output
  2021/day05/solutions/arxcis.rs
  2021/day05/test.sh
  2021/day07/README.md
  2021/day07/test.sh
  README.md
Labels: new solution, new day

#146 2021 / Day06 in Rust by Arxcis
  2021/day06/README.md
  2021/day06/io/.keep
  2021/day06/io/arxcis.input
  2021/day06/io/arxcis.output
  2021/day06/io/example.input
  2021/day06/io/example.output
  2021/day06/solutions/.keep
  2021/day06/solutions/arxcis.rs
  2021/day06/test.sh
  README.md
Labels: new solution, new day

#148 2021 / Day07 in Rust by Arxcis
  2021/day07/io/arxcis.input
  2021/day07/io/arxcis.output
  2021/day07/solutions/arxcis.rs
Labels: new solution

#150 2021 / Day09 in Rust by Arxcis
  2021/day09/README.md
  2021/day09/io/.keep
  2021/day09/io/arxcis.input
  2021/day09/io/arxcis.output
  2021/day09/io/example.input
  2021/day09/io/example.output
  2021/day09/solutions/.keep
  2021/day09/solutions/arxcis.rs
  2021/day09/test.sh
Labels: new solution, new day

#151 2021/ Day10 in Rust by Arxcis
  2021/day08/io/example.output
  2021/day08/test.sh
  2021/day10/README.md
  2021/day10/io/.keep
  2021/day10/io/arxcis.input
  2021/day10/io/arxcis.output
  2021/day10/io/example.input
  2021/day10/io/example.output
  2021/day10/solutions/.keep
  2021/day10/solutions/arxcis.rs
  2021/day10/test.sh
  README.md
Labels: new solution, new day

#152 2021 Day11 in Rust by Arxcis
  2021/day06/test.sh
  2021/day11/README.md
  2021/day11/io/.keep
  2021/day11/io/arxcis.input
  2021/day11/io/arxcis.output
  2021/day11/io/example.input
  2021/day11/io/example.output
  2021/day11/solutions/.keep
  2021/day11/solutions/arxcis.rs
  2021/day11/test.sh
Labels: new solution, new day

#153 2021 / Day 12 in Rust by Arxcis
  2021/day12/README.md
  2021/day12/io/.keep
  2021/day12/io/arxcis.input
  2021/day12/io/arxcis.output
  2021/day12/io/example-a.input
  2021/day12/io/example-a.output
  2021/day12/io/example-b.input
  2021/day12/io/example-b.output
  2021/day12/io/example-c.input
  2021/day12/io/example-c.output
  2021/day12/solutions/.keep
  2021/day12/solutions/arxcis.rs
  2021/day12/test.sh
Labels: new solution, new day

#154 2021 / Day 13 in Rust by Arxcis
  2021/day13/README.md
  2021/day13/io/.keep
  2021/day13/io/arxcis.input
  2021/day13/io/arxcis.output
  2021/day13/io/example.input
  2021/day13/io/example.output
  2021/day13/solutions/.keep
  2021/day13/solutions/arxcis.rs
  2021/day13/test.sh
Labels: new solution, new day

#156 Solve day08 in python
  2021/day08/io/stektpotet.input
  2021/day08/io/stektpotet.output
  2021/day08/solutions/stektpotet.py
  2021/day08/test.sh
Labels: new solution

#155 2021 / Day 14 in Rust by Arxcis
  2021/day14/README.md
  2021/day14/io/.keep
  2021/day14/io/arxcis.input
  2021/day14/io/arxcis.output
  2021/day14/io/example.input
  2021/day14/io/example.output
  2021/day14/solutions/.keep
  2021/day14/solutions/arxcis.rs
  2021/day14/test.sh
Labels: new solution, new day
